@import url('https://fonts.googleapis.com/css?family=Fauna+One|Raleway');
body {
	background-color: #7A0000;
	color: white;
	text-align: center;
	list-style-type: none:;
	margin:5em;
	line-height:1.5em;
	width:80%;
}
img {
	width: 60%
}
h1 {
	font-family:'Fauna One', serif;
	font-weight: bold 
}
h2 {
	font-family:'Raleway', sans-serif;
}
h3, p, li {
	font-family: 'Fauna One', serif;

}
hr {
	width:60%;
}
h3 {
	
	text-align:center;
}
.wrapper{
	text-align: center:;
}
header{
	background-color: #ffed74;
	border:1px black solid;
	padding:20px;
}
article{
	background-color: #e89c6c;
	border:1px black solid;
	padding:20px;
}
footer{
	background-color: #ff957e;
	border:1px black solid;
	padding:20px;
}
section, div {
	background-color: #ffe2b8;
	border:1px black solid;
	padding:20px;
}